<header class="artpage-header">
  <%= link_to "home", home_page_path %>
  <h1>visual art</h1>
</header>

<div class="container artpage">
  <div class="container painting">
    <h2>painting</h2>
    <%= image_tag("https://s3-us-west-2.amazonaws.com/hansmole-site-images/two+plants.jpg") %>
    <%= image_tag("https://s3-us-west-2.amazonaws.com/hansmole-site-images/pink+towel+right.jpg") %>
    <%= image_tag("https://s3-us-west-2.amazonaws.com/hansmole-site-images/pink+towel+left.jpg") %>
    <%= image_tag("https://s3-us-west-2.amazonaws.com/hansmole-site-images/pink+towels+together.jpg") %>
    <%= image_tag("https://s3-us-west-2.amazonaws.com/hansmole-site-images/laundry+basket.jpg") %>
    <%= image_tag("https://s3-us-west-2.amazonaws.com/hansmole-site-images/laundry+detail.jpg") %>
    <%= image_tag("https://s3-us-west-2.amazonaws.com/hansmole-site-images/sink+detail+1.jpg") %>
    <%= image_tag("https://s3-us-west-2.amazonaws.com/hansmole-site-images/sink+detail+2.jpg") %>
    <%= image_tag("https://s3-us-west-2.amazonaws.com/hansmole-site-images/sink.jpg") %>
  </div>

  <div class="container embroidery">
    <h2>embroidery</h2>
    <%= image_tag("https://s3-us-west-2.amazonaws.com/hansmole-site-images/canvas+embroidery.jpg") %>
    <%= image_tag("https://s3-us-west-2.amazonaws.com/hansmole-site-images/red+embriodery.jpg") %>
    <%= image_tag("https://s3-us-west-2.amazonaws.com/hansmole-site-images/hollow+embroidery.jpg") %>
    <%= image_tag("https://s3-us-west-2.amazonaws.com/hansmole-site-images/blue+embroidery.jpg") %>
    <%= image_tag("https://s3-us-west-2.amazonaws.com/hansmole-site-images/blue+and+red+embroidery.jpg") %>
    <%= image_tag("https://s3-us-west-2.amazonaws.com/hansmole-site-images/4+embroideries.jpg") %>
    <%= image_tag("https://s3-us-west-2.amazonaws.com/hansmole-site-images/black+embroidery+detail+1.jpg") %>
    <%= image_tag("https://s3-us-west-2.amazonaws.com/hansmole-site-images/black+embroidery+detail+2.jpg") %>
    <%= image_tag("https://s3-us-west-2.amazonaws.com/hansmole-site-images/black+embroidery.jpg") %>
  </div>

  <div class="container sculpture">
    <h2>sculpture</h2>
    <%= image_tag("https://s3-us-west-2.amazonaws.com/hansmole-site-images/sculpture+detail+1.jpg") %>
    <%= image_tag("https://s3-us-west-2.amazonaws.com/hansmole-site-images/sculpture+detail+2.jpg") %>
    <%= image_tag("https://s3-us-west-2.amazonaws.com/hansmole-site-images/sculpture+1.jpg") %>
    <%= image_tag("https://s3-us-west-2.amazonaws.com/hansmole-site-images/sculpture+scale.jpg") %>
  </div>
</div>

